openapi: 3.1.0
info:
  title: Rely.io Public Automations Users API
  description: The Rely.io Public API provides programmatic access to all features of the Rely.io Internal Developer Portal platform. Full CRUD operations are available for software catalog entities, blueprints, scorecards, self-service actions, and automations. Every action available through the Rely.io web interface can also be performed via this REST API. Authentication uses a long-lived API key (Bearer token) generated in the Rely.io Plugins settings page.
  version: 1.0.0
  contact:
    name: Rely.io Support
    email: support@rely.io
    url: https://docs.rely.io
  termsOfService: https://www.rely.io/terms
servers:
- url: https://api.rely.io
  description: Production Server
security:
- bearerAuth: []
tags:
- name: Users
  description: Manage user accounts and invitations in the organization.
paths:
  /api/v1/legacy/users/invite:
    post:
      operationId: inviteUser
      summary: Invite User
      description: Send an invitation email to a new user to join the organization's Rely.io developer portal.
      tags:
      - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserInviteRequest'
      responses:
        '200':
          description: Invitation sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInviteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    UserInviteRequest:
      type: object
      required:
      - name
      - email
      properties:
        name:
          type: string
          description: User's full name
        email:
          type: string
          format: email
          description: User's email address
    Error:
      type: object
      properties:
        message:
          type: string
        code:
          type: string
    UserInviteResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Long-lived API key generated in the Rely.io Plugins settings page. Valid for 10 years. Include as Bearer token in Authorization header.
externalDocs:
  description: Rely.io API Documentation
  url: https://docs.rely.io/public-api
